@{ 
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <title>Index</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="text-center">
        <h3>У нас будет захватывающая вечеринка!</h3>
        <h4>И вас приглашают</h4>
        <a class="btn btn-primary" asp-action="RsvpForm">Ответьте на приглашение</a>
    </div>
</body>
</html>