@model IEnumerable<Product>
@{ Layout = null; }

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Работа с Visual Studio</title>
    @*<link rel="stylesheet" href="~/css/first.css" />
        <link rel="stylesheet" href="~/css/second.css" />*@
    <link rel="stylesheet" href="~/css/bundle.min.css" />
    @*<script src="~/js/fourth.js"></script>
        <script src="~/js/third.js"></script>*@
    <script src="~/js/bundle.min.js"></script>
</head>
<body>
    <h3>Товары</h3>
    <p>Время запроса: @DateTime.Now.ToString("HH:mm:ss")</p>
    <table>
        <thead>
            <tr>
                <th>Название</th>
                <th>Цена</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var p in Model) {
                <tr>
                    <td>@p.Name</td>
                    <td>@($"{p.Price:C2}")</td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
