@model IEnumerable<string>
@{ Layout = null; }

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Языковые особеннности</title>
</head>
<body>
    <ul>
        @foreach(var s in Model) {
            <li>@s</li>
        }
    </ul>
</body>
</html>